.card {
  background: white;
  margin: auto;
  width: 50%;
  border: 10px 20px;
  /* padding: 5px; */
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.2);
}

.title {
  padding: 40px 40px 0px 40px;
  background-color: white;
  font-size: 12px;
  color: black;
}

.para {
  padding: 10px 40px 40px 40px;
  background-color: white;
  font-size: 18px;
  color: black;
  text-align: justify;
}

.note {
  padding: 10px 40px 40px 40px;
  background-color: white;
  font-size: 14px;
  color: grey;
  text-align: justify;
}

.iconSection {
  display: flex;
  background-color: white;
  justify-content: flex-end;
  border: none;
  outline: none;
  padding: 10px 10px;
  /* position: absolute; */
}

.icon {
  padding: 2px 4px 10px 2px;
  width: 25px;
  color: black;
}
.button {
  border: none;
  outline: none;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
}

.button:hover svg {
  color: lightblue;
}

.saveButton {
  background-color: #717ef3;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* spacing around button */
  margin: 20px 2px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: grey;
}
