.card {
  background: white;
  margin: auto; /* align cards to center */
  width: 50%;
  border: 10px 20px;
  /* padding: 5px; */
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.2);
}

.title {
  padding: 40px 40px 0px 40px;
  background-color: white;
  font-size: 12px;
  color: black;
}

.para {
  padding: 10px 40px 40px 40px;
  background-color: white;
  font-size: 18px;
  color: black;
  text-align: justify;
}

.note {
  padding: 10px 40px 40px 40px;
  background-color: white;
  font-size: 14px;
  color: grey;
  text-align: justify;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconSection {
  display: flex;
  background-color: white;
  justify-content: flex-end;
  border: none;
  outline: none;
  padding: 10px 10px;
  /* position: absolute; */
}

.icon {
  padding: 2px 4px 10px 2px;
  width: 25px;
  color: black;
}
.deleteTag {
  padding: 2px 0px 0px 5px;
  width: 10px;
  color: whote;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
}

.button:hover svg {
  color: #717ef3;
}

.saveButton {
  background-color: #717ef3;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* spacing around button */
  margin: 20px 2px 5px 2px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: darkslateblue;
}

.tagSection {
  display: flex;
  background-color: white;
  justify-content: flex-start;
  border: none;
  outline: none;
  /*  spacing around tag section */
  margin-left: 35px;
  /* position: absolute; */
}

.tagButton {
  background-color: #a7a6a7;
  border: none;
  border-radius: 3px;
  color: white;
  /* size of button */
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /* spacing around button */
  margin: 9px 1px 20px 5px;
  cursor: pointer;
}

.tagInput {
  margin: 5px 2px;

  /* border: 2px 5px; */
  padding: 5px 0px 3px 8px;
  border-radius: 30px;
  border: grey;

  color: #717ef3;
  /* font-family: Arial, Helvetica, sans-serif; */
}
